
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">
    
          <li class="nav-item">
            <a class="nav-link collapsed" href="index.html">
              <i class="bi bi-grid"></i>
              <span>Dashboard</span>
            </a>
          </li>
    
    
          <li class="nav-heading">Les offres</li>
    
          <li class="nav-item">
            <a class="nav-link collapsed" href="/body/offre">
              <i class="bi bi-person"></i>
              <span>Liste des offres</span>
            </a>
          </li>
    
        </ul>
    
      </aside> 
<router-outlet></router-outlet>