<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">

                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-7 col-xl-7 order-2 order-lg-1">
                                <p class="text-center display-1 fw-bold mb-5 mx-1 mx-md-4 mt-4 text-rose">About Us !</p>

                                <p class="card-text">
                                    <span class="text-corail">BeautyHeaven</span> est une plateforme en ligne qui permet aux centres esthétiques de promouvoir leurs offres de beauté et aux clients de les découvrir et de les acheter en ligne.
                                </p>
                                <p class="card-text">
                                    Notre mission est de simplifier le processus de recherche et de réservation d'offres de beauté, tout en offrant aux centres esthétiques une visibilité accrue et un accès à une clientèle diversifiée.
                                </p>
                                <p class="card-text">
                                    Chez <span class="text-corail">BeautyHeaven</span>, nous nous engageons à offrir des offres de haute qualité et à garantir la satisfaction de nos clients.
                                </p>

                                <div class="d-flex justify-content-end mt-4">
                                    <a href="/home" class="btn btn-primary btn-radius">Retour à l'Accueil</a>
                                </div>
                                
                                
                            </div>
                            <div class="col-md-10 col-lg-5 col-xl-5 d-flex align-items-center order-1 order-lg-2">
                                <img src="/assets/img/bhlogoo.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
