
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- <app-navbar *ngIf="showNavbar"></app-navbar>
<app-navbar *ngIf="noshowNavbar"></app-navbar> Routage statique bech yo93od fixe hata ken nzelt ay haja-->
<!-- <router-outlet></router-outlet> elle permet la navigation dynamique des composants / routage dynamique : quand je clique a un lien le composant s'affiche -->
<!-- dépend de l'utilisateur ki yji yselectionni 3ala lien-->

<!-- <app-footer *ngIf="showFooter"></app-footer> 
<app-footer *ngIf="noshowFooter"></app-footer> -->
<!-- Routage statique bech yo93od fixe hata ken nzelt ay haja  -->


    <app-navbar></app-navbar>
  
  
    <router-outlet></router-outlet>
  

    <app-footer></app-footer>
  
  
