  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="#" class="logo d-flex align-items-center">
        <img src="/assets/img/beutyhe.png" alt="BeautyHeaven Logo" style="width: 15%;" >
        <span class="d-none d-lg-block">BeautyHeaven</span>
      </a>
 <!--      <button class="btn btn-link toggle-sidebar-btn " (click)="toggleSidebar()">
        <img src="assets/img/basculer.png" alt="Toggle Icon" class="small-icon"/>
       
      </button> -->

    </div>

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search">
          <img src="assets/img/chercher.png" alt="Search Icon"  class="search-icon">
        </button>
      </form>
    </div>
    

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li> 

        <li class="nav-item dropdown">

         

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            <li class="dropdown-header">
            
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

     </ul>
     </li>
      </ul>

    </nav>
 
  </header>  
  