.search-icon {
    width: 16px; /* Ajustez la taille selon vos besoins */
    height: 16px;
  }
  .small-icon {
    width: 24px; /* Ajustez la largeur selon vos besoins */
    height: 24px; /* Ajustez la hauteur selon vos besoins */

  }
  