.gradient-custom {
    /* fallback for old browsers */
    background: #f093fb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1))
    }
    
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }

.btn.btn-primary.btn-lg {
    background-color: violet;
    color: white;
    border-color: violet;
    transition: background-color 0.3s;
}
.btn.btn-primary.btn-lg:hover{
  background-color: #9c4dcc;
  border-color: #9c4dcc;

}
.btn.btn-primary.btn-lg:active,
.btn.btn-primary.btn-lg:focus {
    background-color: lavender;
    color: black;
    border-color: lavender;
}

.valid-input {
    position: relative;
  }
  
  .valid-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px; /* Adjust as needed */
    font-size: 1.2em;
    color: green;
  }
  
  .invalid-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px; /* Adjust as needed */
    font-size: 1.2em;
    color: red;
  }
  